.news-list {
  background-color: #f6f6ef;
  padding: 1px 0;
  font-size: 10pt;
}

.loader {
  margin: 20px auto;
  display: flex;
  justify-content: center;
}

li {
  list-style: none;
}

.more-btn {
  background-color: transparent;
  border: none;
  color: #828282;
  font-size: 11pt;
  margin: 10px 50px;
  cursor: pointer;
}

.more-btn:disabled {
  cursor: not-allowed;
  color: #c9c8c8;
}