nav {
  display: flex;
  justify-content: space-between;
  background-color: #ff6600;
  font-size: 10pt;
  align-items: center;
  padding: 3px;
  padding-right: 7px;
}

.nav-container {
  width: 100%;
  display: flex;
  gap: 8px;
  align-items: center;
}

.logo {
  width: 18px;
  height: 18px;
  border: 1px solid white;
  color: white;
  text-align: center;
  cursor: pointer;
}

.header {
  font-weight: bold;
  cursor: pointer;
}

.link {
  cursor: pointer;
}
